body {
  margin: 0;
  background-color: #ccc;

  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}

ul,ol {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

textarea, input, button {
  outline: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}